**
!examples/
!examples/input_example.py
!LICENSE
!README.md
!setup.cfg
!setup.py
!pyproject.toml
!src/
!src/edgeTTS/
!src/edgeTTS/__init__.py
!src/edgeTTS/__main__.py
!src/edgePlayback/
!src/edgePlayback/__init__.py
!src/edgePlayback/__main__.py
